<div class="row shadow-lg ml-2 m-3" style="background-color: #d7ccc8; border-radius: 10px;">
    <div class="col-lg-4 col-sm-4">
    </div>
    <div class="col-lg-4 ml-2 col-sm-4">
        <div class="tariffCards card-main">
            <a class="css" href="asp">
                    <img src="images/logo/asp.png" />
                    <span>Asp آموزش</span>
            </a> 
            <a class="csharp" href="csharp">
                    <img src="images/logo/csharp.svg" />
                    <span>C# آموزش</span>
            </a>
            <a class="blazor" href="blazor">
                    <img src="images/logo/blazor.png" />
                    <span>Blazor آموزش</span>
            </a> 
            <a class="ef" href="ef">
                    <img src="images/logo/ef.png" />
                    <span>EF آموزش</span>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-sm-4">
        <div class="text-white"><font face="aghasem" size="6">آموزش ها</font></div>
    </div>
</div>
